{% extends 'usuarios/base.html' %}
{% block conteudo %}
    <div class="container">
        <h1>Usuários Cadastrados: </h1>
        <table class="table table-striped table-bordered">
            <tr>
                <th>CÓDIGO</th>
                <th>NOME</th>
                <th>IDADE</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td> <b> {{usuario.id_usuario}} </b> </td>
                <td> <b> {{usuario.nome}} </b> </td>
                <td> <b> {{usuario.idade}} </b> </td>                   
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

